nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 6px 7.5px rgba(0, 0, 0, 0.1);

}

.logo {
  filter: invert(74%) sepia(93%) saturate(4951%) hue-rotate(326deg)
    brightness(100%) contrast(94%);
  height: 70%;
  margin-right: 1rem;

}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(247,95,91);
  letter-spacing: -0.5px;
}

h1:hover {
  cursor: default;
}
